    <%- include ('partials/header.ejs')%>
    <%- include ('partials/navbar.ejs')%>
    <h1>Bem-vindo a página de clientes</h1>
    <hr>
    
    <p><a href="/">Voltar</a></p>  
    <%- include ('partials/footer.ejs')%>