    <%- include ('partials/header.ejs')%>
    <%- include ('partials/navbar.ejs')%>

    <h1> <%= produto %> </h1>

    <p><a href="/produtos">Voltar</a></p>
    
    <%- include ('partials/footer.ejs')%>