<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>

<h1>Hello, world!</h1>
    <p>Bem-vindo ao meu primeiro site em Node.js e Express.js</p>
    <hr>
    <!-- <p><a href="/perfil">Ir para o seu perfil</a></p>  
    
    <p><a href="/produtos">Ir para a página de produtos</a></p>  

    <p><a href="/clientes">Ir para a página de clientes</a></p>  

    <p><a href="/servicos">Ir para a página de serviços</a></p>   -->

    <img src="/imgs/Spotify-logo.png" alt="Descrição da imagem" height="300px">

    <%- include ('partials/footer.ejs')%>