<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="contaider col-4">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Login de Administrador</h2>
        </div>
        <div class="card-body m-auto">
            <p style="color: red; font-size: 0.7em;">
                Você precisa está logado para acessar os recursos do painel administrativo
            </p>
            <form action="/autenticacao" method="post">
                <label>E-mail:</label>
                <input type="email" name="email" placeholder="email@email.com" class="form-control" required>
                <label>Senha:</label>
                <input type="password" name="senha" placeholder="Insira sua senha" class="form-control" required>
                <br>
                <button type="submit" class="btn btn-sucess btn-block">Open</button>
            </form>
            <hr>
            <h6>Não possui conta?<a href="/cadastro">Cadastre-se!</a></h6>
        </div>
    </div>
</div>
<%- include ('partials/footer.ejs') %>