<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu primeiro sitye em Node.js e Express.js</title>
  </head>
  <body>
    <h1>Hello, Word!</h1>
    <p>Bem-vindo ao meu primeiro site em Node.js e Express.js</p>
    <hr />
    <p><a href="/perfil">Ir para perfil</a></p>
  </body>
</html>
