<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informações dos clientes</title>
  </head>
  <body>
    <h1> <%= cliente %> </h1>

    
    
    <p><a href="/clientes">Voltar</a></p>
  </body>
</html>
