<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<!-- Verificando se há alertas e exibindo -->
        <% if (messages.danger) { %>
            <div class="alert alert-danger alert-dismissible fade show mx-4">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                <%= messages.danger %>
            </div>
            <% } %>

<!-- Formulário de cadastro de Usuário -->
 <div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Cadastro de Usuário</h2>
        </div>
        <div class="card-body">
            <form action="/caduser" method="POST">
                <label>E-mail</label>
                <input type="email" name="email" class="form-control" placeholder="Insira seu e-mail" required>
                <label>Senha</label>
                <input type="password" name="senha" class="form-control" placeholder="Insira sua senha" required>
                <br>
                <input type="submit" class="btn btn-success btn-block" value="Cadastrar">
            </form>
        </div>
    </div>
 </div>
<%- include ('partials/footer.ejs') %>