<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serviços</title>
  </head>
  <body>
    <h1>Bem-vindo a página de servicos</h1>
    <hr />
    <h3>Confira nossos serviços!</h3>

    <!--Exibindo o array de objetos em uma tabela com forEach-->

    <table border="1">
      <tr>
        <th>Serviço</th>
        <th>Descriçao</th>
        <th>Preço</th>
      </tr>

      <%servicos.forEach(funcition(servico){ %>
        <tr>
          <td><%= servico.servico %></td>
          <td><%= servico.descricao %></td>
          <td><%= servico.preco %></td>
        </tr>
      
     <% })%>

        </table>

    <p><a href="/">Voltar para pagina inicial</a></p>
  </body>
</html>
